@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: radial-gradient(
    circle,
    rgba(247, 220, 236, 1) 0%,
    rgba(232, 244, 255, 1) 100%
  );
}

button {
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
